## Step 1: Data Preparation and Cleaning

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

## Dataset Extraction

In [2]:
# Define the URLs for each season
urls = [
    "https://www.football-data.co.uk/mmz4281/1213/E0.csv",
    "https://www.football-data.co.uk/mmz4281/1314/E0.csv",
    "https://www.football-data.co.uk/mmz4281/1415/E0.csv",
    "https://www.football-data.co.uk/mmz4281/1516/E0.csv",
    "https://www.football-data.co.uk/mmz4281/1617/E0.csv",
    "https://www.football-data.co.uk/mmz4281/1718/E0.csv",
    "https://www.football-data.co.uk/mmz4281/1819/E0.csv",
    "https://www.football-data.co.uk/mmz4281/1920/E0.csv",
    "https://www.football-data.co.uk/mmz4281/2021/E0.csv",
    "https://www.football-data.co.uk/mmz4281/2122/E0.csv",
    "https://www.football-data.co.uk/mmz4281/2223/E0.csv",
    "https://www.football-data.co.uk/mmz4281/2324/E0.csv",
    "https://www.football-data.co.uk/mmz4281/2425/E0.csv"
]

# Initialize an empty list to store DataFrames
data_frames = []

for url in urls:
    season = url.split("/")[-2]  # Extract season from URL
    try:
        df = pd.read_csv(url)
        df["Season"] = f"20{season[:2]}/20{season[2:]}"  # Add a season column
        data_frames.append(df)
    except Exception as e:
        print(f"Failed to read data from: {url} - {e}")

In [3]:
final_df = pd.concat(data_frames, ignore_index=True)

Match Statistics (where available)
Attendance = Crowd Attendance
Referee = Match Referee
HS = Home Team Shots
AS = Away Team Shots
HST = Home Team Shots on Target
AST = Away Team Shots on Target
HHW = Home Team Hit Woodwork
AHW = Away Team Hit Woodwork
HC = Home Team Corners
AC = Away Team Corners
HF = Home Team Fouls Committed
AF = Away Team Fouls Committed
HFKC = Home Team Free Kicks Conceded
AFKC = Away Team Free Kicks Conceded
HO = Home Team Offsides
AO = Away Team Offsides
HY = Home Team Yellow Cards
AY = Away Team Yellow Cards
HR = Home Team Red Cards
AR = Away Team Red Cards
HBP = Home Team Bookings Points (10 = yellow, 25 = red)
ABP = Away Team Bookings Points (10 = yellow, 25 = red)

In [5]:
final_df

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,1XBCH,1XBCD,1XBCA,BFECH,BFECD,BFECA,BFEC>2.5,BFEC<2.5,BFECAHH,BFECAHA
0,E0,18/08/12,Arsenal,Sunderland,0.0,0.0,D,0.0,0.0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,18/08/12,Fulham,Norwich,5.0,0.0,H,2.0,0.0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,18/08/12,Newcastle,Tottenham,2.0,1.0,H,0.0,0.0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,18/08/12,QPR,Swansea,0.0,5.0,A,0.0,1.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,18/08/12,Reading,Stoke,1.0,1.0,D,0.0,1.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4936,E0,25/05/2025,Newcastle,Everton,0.0,1.0,A,0.0,0.0,D,...,1.30,6.11,10.20,1.27,7.0,13.00,1.50,2.94,1.93,2.05
4937,E0,25/05/2025,Nott'm Forest,Chelsea,0.0,1.0,A,0.0,0.0,D,...,3.50,3.86,2.06,3.55,3.9,2.14,1.76,2.28,1.86,2.14
4938,E0,25/05/2025,Southampton,Arsenal,1.0,2.0,A,0.0,1.0,A,...,12.20,6.11,1.28,13.00,6.8,1.28,1.45,3.15,2.06,1.89
4939,E0,25/05/2025,Tottenham,Brighton,1.0,4.0,A,1.0,0.0,H,...,3.63,4.12,1.95,3.95,4.2,1.93,1.51,2.92,2.06,1.93
4940,E0,25/05/2025,Wolves,Brentford,1.0,1.0,D,0.0,1.0,A,...,2.98,3.80,2.31,3.05,3.8,2.42,1.54,2.78,1.89,2.10